<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ccverify.poller</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__CCV_ROOT__/bin/ccverify-poll.sh</string>
  </array>
  <key>StartInterval</key>
  <integer>120</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__CCV_ROOT__/logs/launchd.log</string>
  <key>StandardErrorPath</key>
  <string>__CCV_ROOT__/logs/launchd.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
